---
filter:   erb
layout:    nil   # no layout

color:
  link:              "#004080"
  code-background:   "#ddd"
  border:            "#999"
  text-shadow:       "#888"
  wrapper:           "#fff"
  wrapper-shadow:    "#777"
  
spacing:
  text-shadow:    "0.25em 0.25em 0.45em"
  wrapper-shadow: "0.5em  0.5em  1em"  
---
/* Elements 
 * ------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6, a { text-shadow: <%= @page.spacing["text-shadow"] %> <%= @page.color["text-shadow"] %>; }
a { 
  font-weight: bold;
  color: <%= @page.color["link"] %>;
}

ul, ol { margin: 0 1.5em; }
ul { list-style-type: square; }


/* Layout
 * ------------------------------------------------------------ */
.wrapper {
	width: 80%;
	max-width: 100em;
	margin: 0 auto;
	background: <%= @page.color["wrapper"] %> url(/images/header-background.png) repeat-x left top;
	
	/* Shadows and Rounded Corners */
	-moz-border-radius:    0.8em;
	-moz-box-shadow:       <%= @page.spacing["wrapper-shadow"] %> <%= @page.color["wrapper-shadow"] %>;
	
	-webkit-border-radius: 0.8em;
	-webkit-box-shadow:    <%= @page.spacing["wrapper-shadow"] %> <%= @page.color["wrapper-shadow"] %>;
	
	border-radius:         0.8em;
	box-shadow:            <%= @page.spacing["wrapper-shadow"] %> <%= @page.color["wrapper-shadow"] %>;
}

.header, .footer, .content { padding: 0.5em 2em; }

.footer {
	padding-top: 0.5em;
	margin-right: 1em;
	text-align: right;
	clear:both;
}
  .footer .dtupdated {
    float:left; 
    display:inline-block
  }
  
.header        { padding-top: 1em; }
.content       { border-bottom: 1px solid <%= @page.color["border"] %>; }

/* Components 
 * ------------------------------------------------------------ */
  
  /* Content
   * ------------------------------------------------------------ */
   div.content a.external  {
      padding: 0 1em 0 0;
      background: url(/images/external-link.png) no-repeat 100% 0;
   }
   div.content { font-size: 1.25em; }
   div.content h2, div.content h3, div.content h4, div.content h5, div.content h6 { margin-top: 1em; }
   div.content h2 { border-bottom: 1px solid #777; } 
   
   div.content code { 
     background-color: <%= @page.color["code-background"] %>; 
     border-bottom: 1px dotted <%= @page.color["border"] %>;
     padding: 0.25em; 
   }
   
   div.content pre.quote {
     margin-left: 2em;
     border-left: 2px solid #ddd;
   }
   
   div.content pre code {
      background-color: transparent;
      border: none;     
   }
   
   
   
  /* Tabs 
   * ------------------------------------------------------------ */
  ul.tabs       { border-bottom: 1px solid #ddd; }
    ul.tabs li  { margin-right:0.1em; }
      ul.tabs a { 
        color:      #555;
        background: #ddd none repeat scroll 0 0; 
      }
      ul.tabs a, ul.tabs span {
        border: 1px solid #ddd;
        border-bottom: 0;
        display:         block;
        font-weight:     bold;
        text-decoration: none;
      	padding:         0.2em 0.5em;
      	text-shadow:     <%= @page.spacing["text-shadow"] %> <%= @page.color["text-shadow"] %>;; 
      }
