---
filter:   erb
layout:    nil   # no layout

color:
  code:               "#BF4F24"
  code-background:    "transparent"
  content:            "#636363"
  content-header:     "#005BB1"
  border:             "#999"
  link:               "#234A97"
  section-shadow:     "#777"
  text-shadow:        "#888"
  wrapper-background: "tranparent"

spacing:
  section-shadow: "0.1em  0.1em  1.5em"  
  text-shadow:    "0.25em 0.25em 0.45em"
  
dimension:
  section-corner: "8px"
---

/* Elements 
 * ------------------------------------------------------------ */
h1, h2 {  text-shadow: <%= @page.spacing["text-shadow"] %> <%= @page.color["text-shadow"] %>;   }
a {  color: <%= @page.color["link"] %>; }

ul, ol { margin: 5px 3.5em; }
ul { list-style-type: square; }

table {
  width: 90%;
  margin: 0 auto; 
}

/* Layout
 * ------------------------------------------------------------ */
 
body { 
  background-color:#E8E8E8;
  background-image:url(/images/background-glow.png);
  background-repeat:repeat-x;
  color:#303030;
} 

#wrapper {
	width: 80%;
	max-width: 100em;
	margin: 0 auto;
}

  
#header  {  padding-top: 1em;  }
  #header h1 {  font-size: 4em; }
  
#content {  color: <%= @page.color["content"] %>; }

#footer {
  padding-top: 0.5em;
	margin: 1em;
	text-align: right;
	clear:both;
}
  #footer .dtupdated { float:left; }



/* Components 
 * ------------------------------------------------------------ */
.section {
  background-color: #F5F5F5;
  border: 1px solid #BCBCBC;
  line-height:    21px;
  margin-top:     4em;
  padding-bottom: 2em;
  position:       relative;
  <%= css3_box_shadow @page.spacing['section-shadow'], @page.color['section-shadow']  %>
}
  
  .section h3, .section h4, .section h5, .section h6, .section p, .section li {
    margin-left:0;
    padding-right:200px;
  }
  
  .section h3, .section h4, .section h5, .section h6, .section p { padding-left: 21px;}
  .section h2 { 
    font-size: 1.35em;
    line-height: 1.55em;
    border-bottom: 1px solid #C8C8C8;
    text-align :center;
    background: #E8E8E8 url(/images/background.png) repeat-x top;
  }
  .section h3 { font-size: 1.2em;  }
  .section h4 { font-size: 1.15em; }
  
  .section .featured {
    width: 100%;
    display: block;
    text-align: center;
  }
    
/* Content
 * ------------------------------------------------------------ */
 div#content a.external  {
    padding: 0 1em 0 0;
    background: url(/images/external-link.png) no-repeat 100% 0;
 }
 div#content { font-size: 1.25em; }
 div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {  color: #005BB1; }
 
 div#content code { 
   color: <%= @page.color["code"] %>;
   background-color: <%= @page.color["code-background"] %>; 
   padding: 0.2em; 
 }
 
 div#content pre.quote {
   margin-left: 2em;
   border-left: 2px solid #ddd;
 }
 
 div#content pre code {
    border: none;
 }
 
 
 
/* Tabs 
 * ------------------------------------------------------------ */
ul.tabs       { border-bottom: 1px solid #ddd; }
  ul.tabs li  { margin-right:0.1em; }
    ul.tabs a { 
      color:      #555;
      background: #ddd none repeat scroll 0 0; 
    }
    ul.tabs a, ul.tabs span {
      border: 1px solid #ddd;
      border-bottom: 0;
      display:         block;
      font-weight:     bold;
      text-decoration: none;
    	padding:         0.2em 0.5em;
    	text-shadow:     <%= @page.spacing["text-shadow"] %> <%= @page.color["text-shadow"] %>;
    }
