---
extension: css
#filter:    erb
layout:    nil   # no layout
---
/* Elements 
 * ------------------------------------------------------------ */
h1, h2, h3, h4, a { text-shadow: 0.25em 0.25em 0.45em #888; }
a                 { font-weight: bold; }
h2                { border-bottom: 1px solid #777; }
code              { 
  background-color: #ddd; 
  border-bottom: 1px dotted #999;
  padding: 0.25em;
  
}


/* Typographical
 * ------------------------------------------------------------ */
div.content { font-size: 1.2em; }
a.external  {
  padding: 0 20px 0 0;
  background: url(/images/external-link.png) no-repeat 100% 0;

}


/* Layout
 * ------------------------------------------------------------ */
.wrapper {
	width: 80%;
	max-width: 100em;
	margin: 0 auto;
	background: #FFF url(/images/header-background.png) repeat-x left top;
	/* Shadows and Rounded Corners */
	-moz-border-radius: 0.8em;
	-moz-box-shadow: 0.5em 0.5em 1em #777;
	-webkit-border-radius: 0.8em;
	-webkit-box-shadow: 0.5em 0.5em 1em #777;
	border-radius: 0.8em;
	box-shadow: 0.5em 0.5em 1em #777;
}

.header, .footer, .content { padding: 0.5em 2em; }

.footer {
	padding-top: 0.5em;
	margin-right: 1em;
	text-align: right;
	clear:both;
}

.header        { padding-top: 1em; }
.content       { border-bottom: 1px solid #999; }
.break         { clear:both; }
.related_pages { float:left; }
.subpages      { float:right; }

.page_content {
	width: 70%;
	float: left;
	font-size: 1.2em;
}

.subpage_navigation {
	width: 28%;
	float: right;
}


/* Components 
 * ------------------------------------------------------------ */
ul.tabs       { border-bottom: 1px solid #ddd; }
  ul.tabs li  { margin-right:0.1em; }
    ul.tabs a { 
      color:      #555;
      background: #ddd none repeat scroll 0 0; 
    }
    ul.tabs a, ul.tabs span {
      display:         block;
      font-weight:     bold;
      text-decoration: none;
    	padding:         0.2em 0.5em;
    	text-shadow:     0.25em 0.25em 0.45em #888; 
    }
